In [2]:
from pathlib import Path
import pandas as pd

In [4]:
df = pd.DataFrame()
p = Path("data/data1.xlsx").resolve()
p.exists()
df_current = pd.read_excel(p, header=None)
df_current

                      0    1    2   3      4
0                    日付   店舗   商品  個数   売り上げ
1   2025-01-12 00:00:00  店舗B  商品3   1   1288
2   2025-01-23 00:00:00  店舗C  商品3   8  14800
3   2025-01-29 00:00:00  店舗A  商品2   9  17253
4   2025-02-07 00:00:00  店舗A  商品1   3   3507
5   2025-01-26 00:00:00  店舗A  商品2  10  18130
6   2025-01-18 00:00:00  店舗A  商品2   5   5155
7   2025-02-08 00:00:00  店舗A  商品3   3   4092
8   2025-01-24 00:00:00  店舗C  商品2  10  16150
9   2025-01-20 00:00:00  店舗B  商品1   8   5704
10  2025-01-12 00:00:00  店舗A  商品3   2   1354

UsageError: Line magic function `%git` not found.